 h1 {color:brown}
#comidas {height:250px; width:400px}
#thirdDiv {height:600px; width:500px};
#thirdDiv {background-color:greenyellow;}
#thirdDiv {padding: 50px;}
#thirdDiv {border-style:dashed;border-width: 5px;border-color: bisque;}
#spanId {font-size: 18px;}
#spanId {margin:50px}


